@tailwind base;
@tailwind components;
@tailwind utilities;

/* Kustomisasi Scrollbar dengan Gradasi */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #433D8B, #C8ACD6);
    /* background: linear-gradient(180deg, #2E236C, #C8ACD6); */
    /* background: linear-gradient(180deg, #17153B, #D54062); */
    /* background: linear-gradient(180deg, #79BD8F, #BEEB9F); */
    /* background: linear-gradient(180deg, #F5A9B8, #FFA447); */

    border-radius: 10px;
    border: 1px solid #f1f1f1;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #2E236C, #C8ACD6);
    border-radius: 10px;
    border: 1px solid #f1f1f1;
}